/* .header-bar {
    background: #61a1bc;
    color: #fff;
}

.example-container {
    overflow: auto;
}
  
.mat-table {
    width: 100%;
}
.mat-header-row {
    background: #f2f2f2;
}
 */


.side-nav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
  }

.side-nav-events {
    width: 260px;
    height: 100%;
    overflow: auto;

    border-right: 1px solid #fafafa;
}
.side-bar-icon {
    font-size: 30px;
    margin-right: 10px;
    color: #61a1bc;
}
.logout-container .logout-icon {
    cursor: pointer;
}

.logout-container .person-icon {
    padding: 10px 0px;
}
.logout-container .user-name {
    padding: 10px 20px 10px 0px;
}