<div class="question-block" id="question-body">
    <mat-toolbar><h1>Add Question</h1></mat-toolbar>

    <form class="question-form" [formGroup]="questinForm" (ngSubmit)="submit();" novalidate>
        <mat-form-field>
            <mat-select placeholder="Select Technology" [(ngModel)]="questionObj.technologyId" formControlName="technologyId">
              <mat-option *ngFor="let technology of technologyList" [value]="technology.technologyId">{{technology.technology}}</mat-option>
            </mat-select>
            <mat-error *ngIf="questinForm.controls['technologyId'].invalid">{{ getErrorMessage('technologyId') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput [(ngModel)]="questionObj.question" placeholder="Question" rows="5" cols="40" formControlName="question" type="question"></textarea>
            <mat-error *ngIf="questinForm.controls['question'].invalid">{{ getErrorMessage('question') }}</mat-error>
        </mat-form-field>
        <div class="display-flex">
          <mat-radio-group class="answer-radio-group" [(ngModel)]="questionObj.answer" formControlName="answerGroup">
            <mat-radio-button class="width-100 answer-radio-button md-primary md-radio-interactive" value="A">A.</mat-radio-button>
            <mat-radio-button class="width-100 answer-radio-button" value="B">B.</mat-radio-button>
            <mat-radio-button class="width-100 answer-radio-button" value="C">C.</mat-radio-button>
            <mat-radio-button class="width-100 answer-radio-button" value="D">D.</mat-radio-button>
          </mat-radio-group>
          <div class="width-100">
              <mat-form-field class="width-100">
                  <textarea matInput [(ngModel)]="questionObj.answerOption.A" rows="3" cols="40" placeholder="First Option" formControlName="optionA" autocomplete="off"></textarea>
                  <mat-error *ngIf="questinForm.controls['optionA'].invalid">{{ getErrorMessage('optionA') }}</mat-error>
              </mat-form-field>
              <mat-form-field class="width-100">
                  <textarea matInput [(ngModel)]="questionObj.answerOption.B" rows="3" cols="40" placeholder="Second Option" formControlName="optionB" autocomplete="off"></textarea>
                  <mat-error *ngIf="questinForm.controls['optionB'].invalid">{{ getErrorMessage('optionB') }}</mat-error>
              </mat-form-field>
              <mat-form-field class="width-100">
                  <textarea matInput [(ngModel)]="questionObj.answerOption.C" rows="3" cols="40" placeholder="Third Option" formControlName="optionC" autocomplete="off"></textarea>
                  <mat-error *ngIf="questinForm.controls['optionC'].invalid">{{ getErrorMessage('optionC') }}</mat-error>
              </mat-form-field>
              <mat-form-field class="width-100">
                  <textarea matInput [(ngModel)]="questionObj.answerOption.D" rows="3" cols="40" placeholder="Fourth Option" formControlName="optionD" autocomplete="off"></textarea>
                  <mat-error *ngIf="questinForm.controls['optionD'].invalid">{{ getErrorMessage('optionD') }}</mat-error>
              </mat-form-field>
          </div>
        </div>

        <mat-form-field>
            <mat-select placeholder="Complexity" [(ngModel)]="questionObj.complexity" formControlName="complexity">
              <mat-option *ngFor="let mark of complexity" [value]="mark.complexity">{{mark.complexity}}</mat-option>
            </mat-select>
            <mat-error *ngIf="questinForm.controls['complexity'].invalid">{{ getErrorMessage('complexity') }}</mat-error>
        </mat-form-field>
        <div class="center-element">
            <button mat-raised-button type="submit" color="primary" class="question-btn" [disabled]="!questinForm.valid"> Submit </button>
        </div>
    </form>
</div>
