.question-block {
    padding: 20px
}

.question-form {
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.answer-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
.answer-radio-group .mat-form-field, .mat-radio-label-content {
    width: 100%;
}
.answer-radio-button {
    padding: 20px 5px 62px 0px;
}