<div class="login-container center-element">
    <div class="login-form-block">
        <img class="login-img" src="./assets/img/login-img.png" alt="Logo">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit();" novalidate>
            <mat-form-field>
                <input matInput [(ngModel)]="user.email" placeholder="Email" formControlName="email" type="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="user.password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <div class="center-element">
                <button mat-raised-button type="submit" color="primary" class="login-btn" [disabled]="!loginForm.valid"> Login </button>
            </div>
        </form>
    </div>
</div>