#assignment-body {
    width: 100%;
    height: 100%;

}

.align-left{
    margin-left: auto;
}
.mat-step-label{
    min-width: 0px !important;
}
.answer-radio-group {
    padding: 0px 15px;
    display: block;
    border-left: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    max-height: 500px;
    min-height: 200px;
    height: 100%;
    overflow: auto;
}
.question-label {
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    position: absolute;
    top: 16px;
}
.list-header{
    background: #f5f5f5;
    padding: 10px;
    position: relative;
}
.question-code {
    padding: 10px 10px 10px 30px;
    display: inline-block;
}
.header-toolbar {
    border-radius: 20px;
    background: #61a1bc;
    color: #fff
}
.answer-radio {
    position: absolute;
    /* top: 47%; */
}
.answer-radio-btn {
    position: relative;
}