<div id="assignment-body" appDocumentEvents class="assignment-block p20">
    <div *ngIf="!isTestStart" class="color-whight">
        <mat-toolbar><h1>Assignment</h1></mat-toolbar>
        <mat-list role="list">
            <mat-list-item role="listitem">This test checks your basic knowledge. It includes 30 questions and each question includes 4 options. Select an appropriate answer out of 4 options.</mat-list-item>
            <!-- <mat-list-item role="listitem">This online AngularJS test includes questions related to AngularJS directives, expressions, routing, services etc. Visit AngularJS tutorials if you want to refer it before giving the test.</mat-list-item> -->
            <mat-list-item role="listitem">You will get 1 point for each correct answer. Result will be displayed at the end of the test. Maximum score is 100 points, no negative score.</mat-list-item>
        </mat-list>
        <div class="center-element p20">
            <button mat-raised-button type="button" color="primary" id="full-screen-btn" class="question-btn" (click)="fullScreen()"> Start Test </button>
        </div>
    </div>
    <!-- <div *ngIf="!isTestStart" class="color-whight">
            <mat-toolbar><h1>Assignment</h1></mat-toolbar>
    </div> -->
    <!-- <mat-toolbar><h1>Assignment</h1></mat-toolbar> -->
    <div *ngIf="isTestStart">
        <mat-toolbar class="header-toolbar">  
            <mat-toolbar-row>
              <span>Angular Test</span>
              <div class="align-left">Timer: <span>{{displayHourMinutTimer}}</span></div>
            </mat-toolbar-row>
          </mat-toolbar>
        <mat-horizontal-stepper [linear]="isLinear" #stepper (appWindowEvent)="assignmentTabChanged($event)">
            <ng-template matStepperIcon="edit" let-index="index">{{index + 1}}</ng-template>
            <mat-step *ngFor="let question of questionList; let i = index">
                <div class="list-header"><span class="bold question-label">Q. </span><pre class="question-code">{{question.question}}</pre></div>
                <form>
                    <mat-radio-group class="answer-radio-group" [(ngModel)]="answerList['ans-'+i]" name="answer{{i}}">
                        <mat-radio-button class="width-100 p10 answer-radio-btn md-primary md-radio-interactive" value="A"><span class="bold display-inline mr10 answer-radio">A.</span> <pre class="display-inline pl20">{{question.answerOption.A}}</pre></mat-radio-button>
                        <mat-radio-button class="width-100 p10 answer-radio-btn" value="B"><span class="bold display-inline mr10 answer-radio">B.</span> <pre class="display-inline pl20">{{question.answerOption.B}}</pre></mat-radio-button>
                        <mat-radio-button class="width-100 p10 answer-radio-btn" value="C"><span class="bold display-inline mr10 answer-radio">C.</span> <pre class="display-inline pl20">{{question.answerOption.C}}</pre></mat-radio-button>
                        <mat-radio-button class="width-100 p10 answer-radio-btn" value="D"><span class="bold display-inline mr10 answer-radio">D.</span> <pre class="display-inline pl20">{{question.answerOption.D}}</pre></mat-radio-button>
                      </mat-radio-group>
                    <div class="display-flex mt20">
                      <button *ngIf="i > 0" mat-stroked-button matStepperPrevious>Back</button>
                      <button mat-stroked-button color="primary" class="align-left" matStepperNext (click)="(i == questionList.length - 1) ? submitAssignment() : ''">{{(i < questionList.length - 1) && 'Next' || 'Submit'}}</button>
                    </div>
                  </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
