<div class="user-list-body p20">
    <div class="user-container mat-elevation-z8">
      <table mat-table [dataSource]="candidateList" class="user-table">

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef class="head-cell"> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef class="head-cell"> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="head-cell"> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="mobileNo">
          <th mat-header-cell *matHeaderCellDef class="head-cell"> Mobile No </th>
          <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
        </ng-container>
  
        <ng-container matColumnDef="profile">
            <th mat-header-cell *matHeaderCellDef class="head-cell"> Profile </th>
            <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
        </ng-container>
  
        <ng-container matColumnDef="technologies">
            <th mat-header-cell *matHeaderCellDef class="head-cell"> Technologies </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.technologies.primaryskill.length">
                Primary Skill: {{element.technologies.primaryskill}}
              </div>
              <div *ngIf="element.technologies.secondaryskill.length">
                Secondary Skill: {{element.technologies.secondaryskill}}
              </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef class="head-cell"> Score </th>
            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="head-cell"> Action </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon class="ml-10 cursor-pointer">edit</mat-icon>
              <mat-icon class="ml-10 cursor-pointer">cancel</mat-icon>
              <mat-icon class="ml-10 cursor-pointer">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
