<div class="user-list-body p20" *ngIf="!isAddUser">
  <mat-toolbar class="p10">  
    <mat-toolbar-row class="justify-contect">
        <mat-form-field class="search-user">
          <input matInput [(ngModel)]="searchUser" (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <div><button mat-raised-button type="button" color="primary" class="width130" (click)="addEditUserDialog({})"> Add User </button></div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="user-container mat-elevation-z8">
    <table mat-table [dataSource]="userList" class="user-table">
  
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef class="head-cell"> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef class="head-cell"> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="head-cell"> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef class="head-cell"> Role </th>
        <td mat-cell *matCellDef="let element"> {{userRoleOption[element.role]}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="head-cell width75"> Action </th>
          <td mat-cell *matCellDef="let element"><mat-icon (click)="addEditUserDialog(element);" class="ml-10 cursor-pointer">edit</mat-icon></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<!-- <app-add-user *ngIf="isAddUser" (changeView)="navigateToAdduser($event)" [userDetail]="selectedUser"></app-add-user> -->